<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultProjectsLocation" value=""/>
		<add key="AutoOpenLastProjectOnOpen" value="1"/>
		<add key="RecentProjectFolder1" value=""/>
		<add key="RecentProjectFolder2" value=""/>
		<add key="RecentProjectFolder3" value=""/>
		<add key="RecentProjectFolder4" value=""/>
	</appSettings>
</configuration>